{% extends 'base.html' %}
{% block title %}Ask Question{% endblock %}
{% block content %}
<div class="container" >
    <div class="card mt-5" >
        <h5 class="card-header"style="margin: auto;">Ask Question</h5>
        <div class="card-body" style="margin: auto;">
            {% for msg in messages %}
            <p class="text-success">{{msg}}</p>
            {% endfor %}
            <form action="ask-question" method="post" >
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="question title">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                    <textarea name="detail" class="form-control" id="exampleFormControlTextarea1" placeholder="question description" rows="3"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Tags</label>
                    <textarea name="tags" class="form-control" id="exampleFormControlTextarea1" placeholder="question tag" rows="3"></textarea>
                  </div>
                  <div class="mb-3">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}